<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Roman Numerals</display-name>
    <description>Roman Numerals</description>

    <servlet>
        <servlet-name>RomanNumeralService</servlet-name>
        <servlet-class>com.rontologist.solium.romannumerals.server.servlet.NumberConverter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RomanNumeralService</servlet-name>
        <url-pattern>/numberConverter</url-pattern>
    </servlet-mapping>
</web-app>
